<!-- footer.html -->
<footer id="" class="ColorFooter text-white p-3">
  <div class="container-fluid d-flex justify-content-between">
    <p>
      &copy; Rut Zotar <br />&copy; Juana B <br />
      &copy; 2024 Army k-Media. Todos los derechos reservados.
    </p>

    <nav>
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item me-3">
          <a href="{% url 'privacidad' %}" class="text-white"
            >Políticas de Privacidad</a
          >
        </li>
        <li class="nav-item">
          <a href="{% url 'terminos' %}" class="text-white"
            >Términos y Condiciones</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
