{% extends "index.html" %} {% block "titulo" %}
<title>Privacidad</title>
{% endblock "titulo" %} {% block "content" %}
<div class="container">
  <h2>Política de Privacidad</h2>
  <p>Última actualización: 15 de septiembre de 2024</p>

  <h3>1. Introducción</h3>
  <p>
    Bienvenido a K-Media. La red social que une a ARMYS de todo el mundo. Nos
    comprometemos a proteger su privacidad y a garantizar la seguridad de su
    información personal. Esta política de privacidad explica cómo recopilamos,
    usamos, compartimos y protegemos su información.
  </p>

  <h3>2. Información que Recopilamos</h3>
  <h4>2.1 Información Personal</h4>
  <p>
    Recopilamos información personal que usted nos proporciona al registrarse en
    nuestra plataforma, como su nombre, edad, fecha de nacimiento, entre otros
    datos.
  </p>
  <h4>2.2 Información de Cookies</h4>
  <p>
    Utilizamos cookies y tecnologías similares para mejorar su experiencia en
    nuestro sitio web. Las cookies son archivos que se almacenan en su
    dispositivo y que nos permiten recordar sus preferencias y realizar un
    seguimiento de sus actividades.
  </p>

  <h3>3. Uso de la Información</h3>
  <p>Utilizamos su información para los siguientes fines:</p>
  <ul>
    <li>Proveer y mantener nuestros servicios.</li>
    <li>Personalizar su experiencia y responder a sus solicitudes.</li>
    <li>Enviarle actualizaciones y comunicaciones importantes.</li>
    <li>Analizar el uso del sitio para mejorar nuestros servicios.</li>
  </ul>

  <h3>4. Seguridad</h3>
  <p>
    Implementamos algunas medidas de seguridad para proteger su información
    contra accesos no autorizados, alteraciones, divulgaciones o destrucción.
    Sin embargo, ninguna medida de seguridad es infalible, y no podemos
    garantizar la seguridad absoluta de su información.
  </p>

  <h3>5. Derechos del Usuario</h3>
  <p>
    Usted tiene derecho a acceder, corregir, o eliminar su información personal
    que tenemos en nuestro poder. Puede hacer esto contactándonos a través de:
    kmediaarmy@gmail.com
  </p>

  <h3>8. Contacto</h3>
  <p>
    Si tiene alguna pregunta sobre esta política de privacidad, por favor
    contáctenos en:
  </p>
  <p>
    Email:
    <a
      href="mailto:example@gmail.com?subject=Asunto%20del%20correo&body=Cuerpo%20del%20correo"
      >kmediaarmy@gmail.com</a
    >
  </p>
</div>
{% endblock "content" %}
